@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width:100vw;
  height: 100vh;
  
}
.warpperAll {
 
  width:100vw;
  height: 100vh;
  display: flex;
  
  
  background: #0C0C0C;
}

.imgBkg {
  background-image: url("/img/fundo.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
 
 
}



.left {
  
  margin-top: 342px;
  width: 184px;
  height: 267px;
  background-image: url("/img/capa.png");
  background-size: cover;
  border-radius: 20px;
}

.right {
  margin-left: 73px;
  margin-top: 45px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.warpperTop {
  margin-bottom: 121px;
}

.warpperTop h2 {
  margin-bottom: 35px;
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.warpperTop h1 {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  /* identical to box height */

  color: #ffffff;
}

.warpperMain {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.warpperMain p {
  margin-bottom: 42px;
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  color: #ffffff;
}
.timeClasse {
  display: flex;
  justify-content: space-between;
}

.timeClasse span {
  margin-bottom: 45px;
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.warpperButton {
  display: flex;
  gap: 21px;
}
.bNow {
  width: 184px;
  height: 52px;
  border: 0;
  border-radius: 3px;
  background: #0072d2;
}

.bNow > a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
}

.bTrailer {
  width: 115px;
  height: 52px;
  border-radius: 3px;
  background: #131318;
  border: 1px solid #ffffff;
}

.bTrailer > a {
  text-decoration: none;

  border-radius: 3px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
}
