@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url("/img/fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: #131318;
}

.warpperAll {
  display: flex;
  flex-direction: column;
  

}
.warpperTop {
  margin-top: 45px;
  text-align: center;
}
.warpperTop h2 {
  margin-bottom: 35px;
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.warpperTop h1 {
  margin-bottom: 121px;
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #ffffff;
}

.warpperMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 73px;
}

.left {
  width: 184px;
  height: 267px;
  background-image: url("/img/capa.png");
  background-size: cover;
  border-radius: 20px;
}

.right {
  width: 720px;
}

.right p {
  margin-bottom: 43px;
  font-family: "B612";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;

  color: #ffffff;
}

.timeClasse {
  display: flex;
  align-items: center;
  padding-bottom: 44px;
}

.timeClasse span {
  font-family: "B612";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.timeClock {
  margin-right: 15px;
}

.classification {
  margin-left: 107px;
  margin-right: 113px;
}
.warpperButton {
  display: flex;
  gap: 21px;
}

.bNow {
  width: 184px;
  height: 52px;
  border: 0;
  border-radius: 3px;
  background: #0072d2;
}

.bNow > a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
}

.bTrailer {
  width: 115px;
  height: 52px;
  border-radius: 3px;
  background: #131318;
  border: 1px solid #ffffff;
}

.bTrailer > a {
  text-decoration: none;
  border-radius: 3px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
}

@media (max-width: 420px) {

  .warpperAll {
    display: flex;
    justify-content: center;
    padding: 60px 24px 35px;
  }

  .left {
    display: none;
  }

  .right {
  }
  .warpperTop {
  }

  .warpperTop h2 {
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .warpperTop h1 {
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
  }

  .warpperMain {
  }

  .warpperMain p {
  }
  .timeClasse {
  }

  .timeClasse span {
    font-family: "B612";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  .timeClock {
    margin-right: 9.5px;
  }

  .timeClock img {
    width: 16px;
  }

  .classification {
    margin-left: 39px;
    margin-right: 39px;
  }

  .classification img {
    width: 16px;
  }
  .warpperButton {
    width: 360px;
    height: 250px;

    background: #19191f;
    border-radius: 20px 20px 0px 0px;
  }
  .bNow {
  }

  .bNow > a {
  }

  .bTrailer {
  }

  .bTrailer > a {
  }
}
